<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PayBillDetailMapper">
	<resultMap id="BaseResultMap" type="com.hnair.consumer.wallet.model.PayBillDetail">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="payer_wallet_id" property="payerWalletId" jdbcType="BIGINT" />
		<result column="payee_wallet_id" property="payeeWalletId" jdbcType="BIGINT" />
		<result column="application_code" property="applicationCode" jdbcType="INTEGER" />
		<result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="commission" property="commission" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
		<result column="subject" property="subject" jdbcType="VARCHAR" />
		<result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="payerWalletId != null"> and payer_wallet_id= #{payerWalletId}</if>	
		<if test="payeeWalletId != null"> and payee_wallet_id= #{payeeWalletId}</if>	
		<if test="applicationCode != null"> and application_code= #{applicationCode}</if>	
		<if test="tradeTime != null"> and trade_time= #{tradeTime}</if>	
		<if test="orderNo != null and orderNo !=''"> and order_no= #{orderNo}</if>
		<if test="amount != null"> and amount= #{amount}</if>	
		<if test="commission != null"> and commission= #{commission}</if>	
		<if test="status != null"> and status= #{status}</if>	
		<if test="remark != null and remark !=''"> and remark= #{remark}</if>
		<if test="createTime != null"> and create_time= #{createTime}</if>	
		<if test="tradeNo != null and tradeNo !=''"> and trade_no= #{tradeNo}</if>
		<if test="subject != null and subject !=''"> and subject= #{subject}</if>
		<if test="notifyUrl != null and notifyUrl !=''"> and notify_url= #{notifyUrl}</if>
		<if test="startTime != null and startTime != ''">
			AND DATE_FORMAT(create_time, '%Y-%c-%e') >=  str_to_date(#{startTime,jdbcType=VARCHAR},'%Y-%c-%e')
		</if>
		<if test="endTime != null and endTime != ''">
			AND DATE_FORMAT(create_time, '%Y-%c-%e') <![CDATA[<=]]> str_to_date(#{endTime,jdbcType=VARCHAR},'%Y-%c-%e')
		</if>
		<if test="walletId != null"> AND (payer_wallet_id= #{walletId,jdbcType=BIGINT} or payee_wallet_id= #{walletId,jdbcType=BIGINT})</if>
	</sql>
	<sql id="Base_Column_List">
		id ,
		payer_wallet_id ,
		payee_wallet_id ,
		application_code ,
		trade_time ,
		order_no ,
		amount ,
		commission ,
		status ,
		remark ,
		create_time ,
		trade_no ,
		subject ,
		notify_url 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from pay_bill_detail
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from pay_bill_detail
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.consumer.wallet.model.PayBillDetail">
		insert into pay_bill_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="payerWalletId != null">payer_wallet_id,</if>	
			<if test="payeeWalletId != null">payee_wallet_id,</if>	
			<if test="applicationCode != null">application_code,</if>	
			<if test="tradeTime != null">trade_time,</if>	
			<if test="orderNo != null and orderNo !=''">order_no,</if>
			<if test="amount != null">amount,</if>	
			<if test="commission != null">commission,</if>	
			<if test="status != null">status,</if>	
			<if test="remark != null and remark !=''">remark,</if>
			<if test="createTime != null">create_time,</if>	
			<if test="tradeNo != null and tradeNo !=''">trade_no,</if>
			<if test="subject != null and subject !=''">subject,</if>
			<if test="notifyUrl != null and notifyUrl !=''">notify_url,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="payerWalletId != null">
				#{payerWalletId,jdbcType=BIGINT},
			</if>
			<if test="payeeWalletId != null">
				#{payeeWalletId,jdbcType=BIGINT},
			</if>
			<if test="applicationCode != null">
				#{applicationCode,jdbcType=INTEGER},
			</if>
			<if test="tradeTime != null">
				#{tradeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="orderNo != null and orderNo !=''">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="commission != null">
				#{commission,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null and remark !=''">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeNo != null and tradeNo !=''">
				#{tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="subject != null and subject !=''">
				#{subject,jdbcType=VARCHAR},
			</if>
			<if test="notifyUrl != null and notifyUrl !=''">
				#{notifyUrl,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.consumer.wallet.model.PayBillDetail">
		update pay_bill_detail
		<set>
			<if test="payerWalletId != null">
				payer_wallet_id= #{payerWalletId,jdbcType=BIGINT},
			</if>
			<if test="payeeWalletId != null">
				payee_wallet_id= #{payeeWalletId,jdbcType=BIGINT},
			</if>
			<if test="applicationCode != null">
				application_code= #{applicationCode,jdbcType=INTEGER},
			</if>
			<if test="tradeTime != null">
				trade_time= #{tradeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="orderNo != null and orderNo !=''">
				order_no= #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				amount= #{amount,jdbcType=DECIMAL},
			</if>
			<if test="commission != null">
				commission= #{commission,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				status= #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null and remark !=''">
				remark= #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeNo != null and tradeNo !=''">
				trade_no= #{tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="subject != null and subject !=''">
				subject= #{subject,jdbcType=VARCHAR},
			</if>
			<if test="notifyUrl != null and notifyUrl !=''">
				notify_url= #{notifyUrl,jdbcType=VARCHAR}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from pay_bill_detail where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from pay_bill_detail where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from pay_bill_detail where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pay_bill_detail where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
</mapper>
